@import url("https://fonts.googleapis.com/css?family=lato:400,700");

html, body{
    height:100%;
    width:100%;
}

.nav-link{
    font-size:1.1rem !important;
}
/*--- Navigation --*/
.navbar{
    text-transform:uppercase;
    font-weight:800;
    font-size:14px;
    letter-spacing:.1rem;
    font-family:arial;
    font-style:bold;
    display:flex;
    justify-content:space-around;
    background:#1E90FF!important;
}
.navbar-brand img{
    height:4rem;
}
.navbar-nav li{
    padding-right:5px;
}
.navbar-dark .navbar-collapse .nav-link{
    color:white;
    padding-top:.6rem;    
}
.navbar-dark .navbar-collapse .nav-link:hover{
	color:blue;
}
.dropdown-menu .dropdown-item:hover{
    color:#1E90FF;
}
img{
    height:500px;
    width:100%;
}
.search{
    text-align:center;
    background-color:#1E90FF;
    color:white;
    margin-bottom:10px;
}
.autocomplete{
    width:100% !important;
}
#map{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
[class*="col-"]{
    padding: 1rem;
}

.fas-code{
    color:#1E90FF;
}

.fa-envelope{
    color:white;
    
}
.fa-code, .fa-envelope{
    font-size:1rem;
}
.fas-code{
    color:
}
.fa-map-marker-alt{

}
.fa-code{
    color:#e54d25;
}
.fa-bold{
   color: #1ebba3; 
}

.fa-facebook{
    color:white;
    margin:4px;
}
.fa-code, .fa-bold, .fa-facebook{
    font-size:4rem;
    padding-right:2px;
}
.fa-code{
    color:#1E90FF;
}
.fa-bold{
   color:#1E90FF; 
}
.fa-twitter{
    color:white;
    margin:4px;
}
.fa-code, .fa-bold, .fa-twitter{
    font-size:4rem;
}
.fa-code{
    color:#1E90FF;
}
.fa-bold{
   color:#1E90FF; 
}
.fa-instagram{
    color:white;
    margin:4px;
}
.fa-code, .fa-bold, .fa-instagram{
    font-size:4rem;
}
.fa-code{
    color:#1E90FF;
}
.fa-bold{
   color:#1E90FF; 
}
.fa-facebook .fa-twitter .fa-instagram:hover{
    color:#1E90FF;
}
.booking{
    text-align:center;
    margin-bottom:2rem;
    margin-top:2rem;
}
.contact{
    text-align:center !important;
    background:#1E90FF;
    margin-bottom:5rem;
    margin-top:5rem;
    color:white;
}

h1{
    color:#1E90FF;
}
.images{
    width:200px;
    height:150px;
    margin:.1rem;
    
}
.card-img-top{
    height:250px;
    width:300px;
    border:3px solid;
    border-radius:10px;
}

.tz-gallery{
    text-align:center;
    margin-bottom:5rem;
    margin-top:2rem;
}
h3{
    color:white;
}
.image{
    width:100px;
    height:90px;
    margin:.5rem
    
}
#city{
    margin-bottom:4rem;
    margin-top:5rem;
}

.imgs{
    width:200px;
    height:50px;
    margin-top:.4rem;
}
#footer{
    background:#1E90FF;
    color:white;
}
